<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.co.seanhodges.incandescent.client">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="uk.co.seanhodges.incandescent.reports"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".selection.DeviceSelectActivity"
            android:label="@string/application_name"
            android:logo="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".control.DeviceControlActivity"
            android:label="@string/control_device_title"
            android:parentActivityName=".selection.DeviceSelectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".selection.DeviceSelectActivity" />
        </activity>
        <activity
            android:name=".auth.AuthenticateActivity"
            android:label="@string/authenticate_title" />
        <activity
            android:name=".support.ReportDeviceActivity"
            android:label="@string/title_activity_report_device"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".scene.AddSceneActivity"
            android:label="@string/title_activity_add_scene"
            android:parentActivityName=".selection.DeviceSelectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".selection.DeviceSelectActivity" />
        </activity>

        <receiver
            android:name=".receive.LocaleReceiver"
            android:exported="true"
            android:process=":background"
            tools:ignore="ExportedReceiver">

            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>