<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.seanhodges.incandescent.client">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".selection.DeviceSelectActivity"
            android:label="@string/application_name"
            android:logo="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".control.DeviceControlActivity"
            android:label="@string/control_device_title"
            android:parentActivityName=".selection.DeviceSelectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".selection.DeviceSelectActivity" />
        </activity>
        <activity
            android:name=".auth.AuthenticateActivity"
            android:label="@string/authenticate_title"></activity>
    </application>

</manifest>